<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <title>Hila's Final Project</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Russo+One|Spirax" rel="stylesheet">
  </head>
  <div class= "header">
      <h1>{{welcome}}</h1>

  </div>

        <div id = "background-pic">
            <!-- <img src="/imgs/prettyCityPic.jpg" alt="pretty pic of Japan"> -->
        </div>

    {{{body}}}

    <footer>
        <h1>"One's destination is never a place, but always a new way of seeing things", Henry Miller</h1>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="server.js"></script>
    <script type="text/javascript" src="index.js"></script>

    </script>
</html>
