<div class="handlebarDiv welcome">



<h1>WELCOME</h1>
<h2>SHALOM AND SALAM AND ALL THAT</h2>
<h3>Where are you?</h3>
<form action="/select-city" method="post">
    <div class="select">
    <select name ="select-city">
        <option name ="Berlin">Berlin</option>
        <option name ="London">London</option>
        <option name = "Jerusalem">Jerusalem</option>
        <option name = "Sarajevo">Sarajevo</option>
        <option name = "New_York_City">New York</option>
        <option name = "Tokyo">Tokyo</option>
    </select>
</div>
    <button name="select-city">SELECT</button>
</form>

<div>

    {{error}}

</div>



</div>
